name: "Release"

on:
  release:
    types: [published]

permissions:
  contents: write 

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6.0.2

      - name: Extract version from release
        run: |
          VERSION=$(echo "${GITHUB_REF#refs/tags/}" | sed 's/^v//')
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y yq zip jq

      - name: Adjust version number
        run: |
          jq --arg ver "$VERSION" '.version = $ver' custom_components/saviia/manifest.json > tmp.json && mv tmp.json custom_components/saviia/manifest.json

      - name: ZIP the integration directory
        run: |
          cd custom_components/saviia
          zip saviia-${VERSION}.zip -r ./

      - name: Upload the ZIP file to the release
        uses: softprops/action-gh-release@v2.2.2
        with:
          files: custom_components/saviia/saviia-${{ env.VERSION }}.zip
