name: "Validate"

on:
  workflow_dispatch:
  schedule:
    - cron:  "0 0 * * *"
  push:
    paths-ignore:
      - "**/README.md"
      - "**/CHANGELOG.md"
      - "**/CONTRIBUTING.md"
      - "**/requirements.txt"
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  hassfest: 
    name: "Hassfest Validation"
    runs-on: "ubuntu-latest"
    steps:
        - name: Checkout the repository
          uses: actions/checkout@v6.0.1

        - name: Run hassfest validation
          uses: home-assistant/actions/hassfest@master

  hacs: 
    name: HACS Validation
    runs-on: ubuntu-latest
    steps:
        - name: Checkout the repository
          uses: actions/checkout@v6.0.1
          with: 
            fetch-depth: 0

        - name: Get latest code
          run: git pull origin main

        - name: Run HACS validation
          uses: hacs/action@main
          with:
            category: integration
            repository: ${{ github.repository }}
            github_token: ${{ secrets.GITHUB_TOKEN }}